<div class=""style="text-align:center;">
<h2>PostEdit</h2>
<div class="card mb-2 shadow p-3 mb-5 bg-body rounded">
<%= form_with model: @post, method: :patch do |f| %>

<p>画像<%= f.file_field :images, accept: "image/*", multiple: true %></p>
<p>本文<%= f.text_area:body, rows: '5' %></p>
<p>タグ<%= f.text_field:tag %></p>
<p><%= f.submit "保存する"%></p>

<% end %>
</div>



</div>