  <div class="cotainer my-5 mx-1">
    <div class="row">
      <div class="col-md-4">
      
      </div>
      
      <div class="col-md-4" style="text-align:center;">
        <h3 class="border">投稿を見る</h3>
        <div class="text-right">
          <%= link_to new_post_path do %>
          
        　<button type="button" class="btn btn-secondary rounded-circle p-0 mb-2 " style="width:2rem;height:2rem;">＋</button>
          <% end %>
        </div>
        
        <% @posts.each do |post| %>
        <% if post.is_deleted == false%>
        <div class="card mx-1 shadow p-3 mb-5 bg-body rounded">
          <strong><%= render 'public/users/name',user: post.user%></strong>
          <p class="mt-2"><%= post.body%></p>
          <p class="text-secondary"><%= post.created_at.strftime('%Y/%m/%d')%></p>
          <%= render 'image',post: post %>
          <div class="d-flex justify-content-around mt-1">
            <div id="like_buttons_<%= post.id%>">
              <%= render 'public/likes/button',post: post%>
            </div>
              <%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
              <% if post.user ==current_user%>
              <%= link_to "編集する",edit_post_path(post.id)%>
              <%= link_to "削除する",post_path(post.id),method: :delete, "data-confirm" => "本当に削除しますか？"%>
            <%end%>
          </div>
        </div>
        <%end%>
        <% end %>
      </div>  
     
      <div class="col-md-4">
      
      </div>

    </div>    
</div> 