<div class="container  my-5"style="text-align:center;">
  <div class="row ">
    
    <div class="col-md-4">
      
    </div>
   
    <div class="col-md-4 mr-1">

      <h2>新規投稿</h2>
        <div class="border p-3 mx-2 rounded shadow">
          <%= form_with model: @post,url: posts_path(@post), method: :post do |f|%>
          <image class="mb-3">
            <%= f.label :画像,class:"form-label" %>
            <%= f.file_field :images, multiple: true,accept: "image/*" ,id: "image",class:"btn btn-sm btn-secondary col-md-11"%>
            <div class="my-1"><%=image_tag "",class:"img-square w-75"%></div>
          </image>
          
          <div class="mb-3">
              <%= f.label:本文,class:"form-label" %>
              <%= f.text_area:body,class:"form-control" %>
              <%= render 'error', post: @post%>
          </div>
            <p>タグ<%= f.text_field:tag,class:"form-control" %></p>
            <!--,placeholder:"任意"-->
            <p><%= f.submit "投稿する", class:'btn btn-success'%></p>
        </div>
      
    </div>
    
  </div>
</div>


<% end %>
<script>
$(function() {
    $('#image').on('change', function() {
        var selectedFile = this.files[0];
        var fileReader = new FileReader();

        fileReader.onload = function(event) {
            var loadedImageUri = event.target.result;
             $('.img-square').attr('src', loadedImageUri);
        };

        fileReader.readAsDataURL(selectedFile);
    });
});
</script>