<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    
    
    <div class="col-md-4">
      <div style="text-align:center;">
        <p>投稿内容</p>
      
        <div class="card mb-2 shadow p-3 mb-5 bg-body rounded">
          <%= render 'image',post: @post%> 
           <p><%= @post.body %></p>
           <p><%= @post.tag %></p>
           <%= link_to "投稿一覧",posts_path,method: :get, class: "btn btn-primary" %>
           <%= link_to "編集する",edit_post_path(@post.id),class: "btn btn-secondary"%>
           <div class="comments">
           <%= render 'public/comments/index' ,post: @post,comment: @comment%>
           </div>
           <%= render 'public/comments/comment' ,post: @post,comment: @comment%>
        </div>
        </div>
    </div>
  </div>
</div>

