<div class="container-fluid">
  <div class="row">
    
    <nav class="col-md-4 pt-4 alert-secondary navilist-expand-lg d-none d-sm-none d-md-block">
     <% unless user_signed_in?%>
     <div><%= link_to "ログイン", new_user_session_path, class: 'btn btn-secondary btn-block' %></div>
     <div><%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success btn-block' %></div>
     <% end %>
     <% if user_signed_in?%>
     <%= link_to "投稿を見る",posts_path,method: :get, class:"btn-block btn-dark "%>
     <%= link_to "アーティストを探す",users_path( role: 'artist'), class:"btn-block btn-dark"%>
     <%= link_to "店舗を探す",users_path( role: 'shop'), class:"btn-block btn-dark"%>
     <%= link_to "新規投稿", new_post_path(@post),method: :get, class: 'btn-block btn-primary'%><br></br>
     <%= link_to "マイページ", user_path(@user.id), class: 'btn-block btn-dark'%>
     <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: 'btn-block btn-danger'%>
     <%= link_to "このサイトについて",about_path,method: :get, class:"btn-block btn-info"%>
     
     <% end %>
   </nav>
    <div  style="text-align:left; m-2">

      <h2><em>About</em></h2>
      
      <p class="mx-2">
      インディーズ音楽家の検索、<br>コミュニティサイト"Whose Tone?"<br>
      作成した経緯を少しお話しします。<br><br>
      動画配信サービスや<br>サブスク制の音楽配信などが<br>主流になった昨今ですが。<br>
      いくら情報媒体が発達しても<br><strong>「生のライブ」</strong>には敵いません。<br>
      <br>
      私は音楽家による<br><strong>「生のライブ」はいつの時代も無くならない</strong>と考えています。<br>
      そこでインディーズで活動してる<br>音楽家とそれを探してる人々の<br>コミュニティサイトが<br>
      あったらいいなと思い<br>制作に至りました。<br>
      <br>
      また音楽家以外にも<br>ライブハウス、飲食店、<br>楽器業界の売上アップのため<br>に繋がってほしい。<br>
      知らない近所での<br>音楽イベントの発見や、<br>
      新しい音楽家や<br>お店の発見に<br>つながってほしいと願います。
      <br><br>
      制作者 Waggy
      </p>
      <%= link_to "Top",root_path, class: "btn btn-info btn-block col-6"%>

    </div>
  </div>
</div>