<div class="container">
  <div class="row">
    <nav class="col-md-4 pt-4 alert-secondary navilist-expand-lg">
     <% unless user_signed_in?%>
     <div><%= link_to "ログイン", new_user_session_path, class: 'btn btn-secondary btn-block' %></div>
     <div><%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success btn-block' %></div>
     <% end %>
     <% if user_signed_in?%>
     <%= link_to "投稿を見る",posts_path,method: :get, class:"btn-block btn-dark col-10"%>
     <%= link_to "アーティストを探す",users_path,method: :get, class:"btn-block btn-dark"%>
     <%= link_to "店舗を探す",root_path,method: :get, class:"btn-block btn-dark"%>
     <%= link_to "新規投稿", new_post_path(@post),method: :get, class: 'btn-block btn-primary'%><br></br>
     <%= link_to "マイページ", user_path(@user.id), class: 'btn-block btn-primary'%>
     <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: 'btn-block btn-danger'%>
     <%= link_to "このサイトについて",about_path,method: :get, class:"btn-block btn-info"%>
     <p>お気に入り</p>
     <% end %>
   </nav>
   
   <div class="col-md-4" style="text-align:center;">
        <p>posts/index</p>
        
        <% @posts.each do |post| %>
        <div class="card mb-2 shadow p-3 mb-5 bg-body rounded">
          <strong><%= render 'public/users/name',user: post.user%></strong>
          <p class="mt-2"><%= post.body%></p>
          <!--.created_at.strftime('%Y/%m/%d')-->
          <%= render 'public/posts/image',post: post %>
          <div class="d-flex justify-content-around mt-1">
            <div id="like_buttons_<%= post.id%>">
              <%= render 'public/likes/button',post: post%>
            </div>
            <%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
            <% if post.user ==current_user%>
            <%= link_to "編集する",edit_post_path(post.id)%>
            <%= link_to "削除する",post_path(post.id),method: :delete, "data-confirm" => "本当に削除しますか？"%>
            <%end%>
          </div>
        </div>
        <% end %>
      </div>  
    
    <div class="col-md-4 mt-2">
    
    </div>
  </div>
 </div>
 
 