<div class="container-fluid">
  <div class="row px-0" style="color:#FFF; background-color:rgba(0, 0, 0, 0.5);">
    <!--<div class="col-md-4">-->
    <!--</div>-->
    <div class="col-md-6 my-2 mx-auto"> 
     
      <div class="card bg-dark text-white">
        <%= image_tag  src="akasaka_f.jpg", class: "d-block w-100 "%>
        <div class="card-img-overlay">
          <h5 class="card-title pb-3" style="color:#FFF; background-color:rgba(0, 0, 0, 0.5);">ようこそ！ WhoseToneへ！</h5>
          <p class="card-text" style="color:#FFF; background-color:rgba(0, 0, 0, 0.5);">
          このサイトはインディーズ音楽家と<br>
          ライブハウスやライブできる飲食店と</br>
          リスナーさんが、「生ライブ」につながる<br>
          交流ができるコミュニティサイトです。
          </p>
          <p class="card-text"><%= link_to "詳しくはこちら",about_path,style:"color:#FFF; background-color:rgba(0, 0, 0, 0.5);"%></p>
        </div>
      </div>
     
    </div>
    <!--<div class="col-md-4">-->
    <!--</div>-->
  
  </div>
  <div class="row">
    <nav class="col-md-4 pt-4 alert-secondary navilist-expand-lg d-none d-sm-none d-md-block">
     <% unless user_signed_in?%>
     <div><%= link_to "ログイン", new_user_session_path, class: 'btn btn-secondary btn-block' %></div>
     <div><%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success btn-block' %></div>
     <% end %>
     <% if user_signed_in?%>
     <%= link_to "投稿を見る",posts_path,method: :get, class:"btn-block btn-dark "%>
     <%= link_to "アーティストを探す",users_path( role: 'artist'), class:"btn-block btn-dark"%>
     <%= link_to "店舗を探す",users_path( role: 'shop'), class:"btn-block btn-dark"%>
     <%= link_to "新規投稿", new_post_path,method: :get, class: 'btn-block btn-primary'%><br></br>
     <%= link_to "マイページ", user_path(@user.id), class: 'btn-block btn-dark'%>
     <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: 'btn-block btn-danger'%>
     <%= link_to "このサイトについて",about_path,method: :get, class:"btn-block btn-info"%>
     <!--<p>お気に入り</p>-->
     <% end %>
   </nav>
   
   <div class="col-md-4" style="text-align:center;">
        <h3 class="border">新着記事</h3>
        
        <% @posts.each do |post| %>
        <% if post.is_deleted == false%>
        <div class="card mb-2 shadow p-3 mb-5 bg-body rounded">
          <strong><%= render 'public/users/name',user: post.user%></strong>
          <p class="mt-2"><%= post.body%></p>
          <!--.created_at.strftime('%Y/%m/%d')-->
          <%= render 'public/posts/image',post: post %>
          <div class="d-flex justify-content-around mt-1">
            <div id="like_buttons_<%= post.id%>">
              <%= render 'public/likes/button',post: post%>
            </div>
            <%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
            <% if post.user ==current_user%>
            <%= link_to "編集する",edit_post_path(post.id)%>
            <%= link_to "削除する",post_path(post.id),method: :delete, "data-confirm" => "本当に削除しますか？"%>
            <%end%>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>  
    
    <div class="col-md-4 mt-2">
    
    </div>
  </div>
 </div>
 
 