<div class="text-align-center m-2">
<p>User index</p>

<table class="table">
    <tr class="alert-secondary">
      <th>name</th>
      <th>nickname</th>
      <th>ユーザー種別</th>
      <th>status</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name,admin_user_path(user), method: :get %></td>
      <td><%= link_to user.nick_name ,admin_user_path(user) , method: :get %></td>
      <td><%= user.role_i18n%></td>
      <td><% if user.is_deleted == false%></p>
          <strong class="text-success"><%='有効' %></strong>
          <%else%>
          <strong class="text-danger"><%='退会済み' %></strong>
          <%end%></td>
          <td><%=link_to"変更する",admin_user_path(user.id), method: :patch,class: "btn btn-warning"%></td>
    </tr>
    <%end%>
</table>



</div>