<h1>Admin::Users#show</h1>
<p>Find me in app/views/admin/users/show.html.erb</p>
<div class="col-md-4">
<%= @user.name %>
<%= @user.nick_name %>
<%= @user.role%>
<%= @user.address %>
<%= @user.profile %>
<%= @user.action_range %>
<%= @user.action_style %>
<%= @user.links %>
<%= @user.tag %>
<%= @user.holidays %>
<%= @user.shop_style %>
<%= @user.is_deleted %>
</div>

