<div class="container  my-5"style="text-align:center;">
 
</div>

<div class="container ">
  <div class="row ">
    
    <div class="col-md-4">
      
    </div>
      
      <!--<%#= render "public/shared/links" %>　自動生成-->
      <!--できればバリテーションの小さい赤文字実装する-->
    <div class="col-md-4">
    <h2 class="bg-light"style="text-align:center;">ログイン</h2>
      <div class="border  p-3 mx-2 rounded">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mb-3 mx-1" >
      
          <%= f.label :email,"メールアドレス",class:"form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control"  %>
          
        </div>
        <div class="mb-3 mx-1">
          <%= f.label :password ,"パスワード",class:"form-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
        </div>
          <% if devise_mapping.rememberable? %>
        <div class="mb-3 mx-1 form-check">
          <%= f.check_box :remember_me,class:"form-check-input"  %>
          <%= f.label :remember_me, class:"form-check-label" %>
        </div>
          <% end %>
         <div class="m-1"><%= f.submit "ログイン",class:"btn btn-info  btn-block mb-3 sign_in" %></div>
        <% end %>
      </div>
    </div>
      
    <div class="col-md-4 ">
      
    </div>
    
  </div>
</div>