<div class="border" style="text-align:center;">
<h2>プロフィール編集</h2>
  <%= form_with model: @user,method: :patch do |f| %>
    <% if @user.artist? %>
    <div class="edit_artist">
        <p>名前<%= f.text_field:name %></p>
        <p>ニックネーム<%= f.text_field:nick_name %></p>
        <p>アカウント種別<%=@user.role %>※変更したい場合は別アカウントを新規作成</p>
        <p>プロフィール<%= f.text_area:profile %></p>
        <p>活動エリア<%= f.text_field:action_range %></p>
        <p>活動スタイル<%= f.text_field:action_style %></p>
        <p>リンク<%= f.text_field:links %></p>
        <p>タグ<%= f.text_field:tag %></p>
        <%= f.submit"保存する",class: 'btn btn-success' %>
        <%=link_to"BACK",user_path, class: 'btn btn-secondary' %>
    </div>
      <% else %>
        <%= render 'edit',user: @user%>
      <% end %>
  <% end %>
</div>