<div class="container  my-5"style="text-align:center;">
  <h2>ユーザー検索</h2>
  <div class="row">
    <div class="col-md-4">
    </div>
    
    <div class="col-md-4">
      <%= link_to 'リスナー', users_path(role: 'listener') %>
      <%= link_to 'アーティスト', users_path(role: 'artist') %>
      <%= link_to '店舗', users_path( role: 'shop') %>
      <%= link_to 'メーカー', users_path( role: 'maker') %>
      <%= link_to 'all', users_path%>
      <% @users.each do |user|%>
      <% if user.is_deleted == false%>
      <div class="card pt-3 mb-3 shadow" >
        <image class="card-img-top px-2">
          <% if user.image.attached? %>
            <%= image_tag user.image, size: "mx-auto" %>
          <% else %>
            <%= image_tag 'no_image', size: "mx-auto" %>
          <% end %>
        </image>
        <div class="card-body">
        <h5 class="card-title">Name: <%= render 'name',user: user%></h5>
        <p class="card-text"><%= user.profile%></p>
        <%= link_to"プロフィール",user_path(user.id),class: "btn btn-info"%>
      </div>
    </div>
      <% end %>
      <% end %>
      
    </div>
  
  </div>
</div>

