 <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
          
      <a class="navbar-brand " href="/">WhoseTone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> 
         </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto ">
              
              
       
      
      <% if user_signed_in?%>
          <li class="navi-item">
          <%=link_to user_path(current_user), class:'nav-link text-light' do %>
          <i class="fas fa-home"></i>マイページ
          <%end%>
          </li>
          
          <li class="navi-item">
            <%=link_to users_path, class:'nav-link text-light' do %>
            <i class="fas fa-users"></i>Users
            <%end%>
          </li>
          
          <li class="navi-item">
            <%=link_to posts_path, class:'nav-link text-light' do %>
            <i class="fas fa-book-open"></i>投稿一覧
            <%end%>
          </li>
          
          <li class="navi-item">
            <%= link_to destroy_user_session_path, method: :delete, class:'nav-link text-light' do %>
            <i class="fas fa-sign-out-alt"></i>ログアウト
            <%end%>
          </li>
          
      <% elsif admin_signed_in? %>
        <li><%= link_to admin_path, class:'btn btn-outline-dark bg-warning mr-3' do %>HOME<% end %></li>
        <li><%= link_to admin_posts_path, class:'btn btn-outline-dark bg-warning mr-3' do %>投稿一覧<% end %></li>
        <li><%= link_to admin_users_path, class:'btn btn-outline-dark bg-warning mr-3' do %>User一覧<% end %></li>
        <li><%= link_to destroy_admin_session_path, method: :delete, class:'btn btn-outline-dark bg-warning' do %>ログアウト<% end %></li>

      
      <%else%>
          <li class="navi-item">
            <%= link_to root_path, class:'nav-link text-light' do %>
            <i class="fas fa-home"></i>Home
            <%end%>
          </li>
          <li class="navi-item">
           <%= link_to about_path, class:'nav-link text-light' do %>
           <i class="fas fa-link"></i>About
           <%end%>
          </li>
          <li class="navi-item">
           <%= link_to new_user_registration_path, class:'nav-link text-light' do %>
           <i class="fas fa-user-plus"></i> 新規登録
           <%end%>
          </li>
          <li class="navi-item">
            <%= link_to new_user_session_path, class:'nav-link text-light' do %>
            <i class="fas fa-sign-in-alt"></i>ログイン
            <%end%>
          </li>
      <%end%>